{{#
    @name Carousel
    @desc Carousel of images and captions.
    @set page.article.carousel
#}}

<!-- /components/_carousel.antlers.html -->
{{ item_padding = ' py-2 md:py-40 md:px-40' }}
{{ item_img_class = 'object-contain w-full h-full max-h-[62vh]' }}
{{ if full_size }}
    {{ item_padding = ' p-0' }}
    {{ item_img_class = 'object-cover w-full h-full' }}
{{ /if }}


<div class="my-0 relative w-full h-screen overflow-hidden wrapper-carousel">
    {{ if navigation_arrows }}
        <!-- Prev arrow button -->
        <button 
            class="cursor-pointer 
                absolute 
                top-1/2 
                -translate-y-1/2 
                left-3 
                z-10 
                prev-button
        ">
            {{  partial:icons/arrow
                svg_width="48"
                svg_height="48"
                svg_class="w-8 md:w-[48px]
                h-auto" 
                circle_class="fill-white"
                path_class="stroke-black stroke-[2.2]"
            }}
        </button>
    {{ /if }}

    <div class="tiny-carousel"
        {{ if autoplay }}
            data-autoplay="1"
        {{ /if }}
        {{ if navigation }}
            data-navigation="1"
        {{ /if }}
        {{ if transition }}
            data-transition="{{ transition }}"
        {{ /if }}
    >
        {{ carousel }}
            
            <div class="item 
                top-0 bottom-0 
                w-full h-full 
                !align-middle 
                flex flex-col 
                items-center justify-center
                {{ item_padding }}
            ">
                {{  partial:components/image
                    :image="image" 
                    figure_class="w-full h-full"
                    sizes="90vw, (min-width: 1280px) 80vw" 
                    :img_class="item_img_class"
                    caption=''
                }}

                {{ if ! full_size }}
                    {{ partial:typography/p
                        :content="caption" 
                        class="text-center mt-3"
                    }}
                {{ /if }}
            </div>
        {{ /carousel }}
    </div>

    {{ if navigation_arrows }}
        <!-- Next arrow button -->
        <div class="box flex justify-center">
            <button class="cursor-pointer 
                absolute 
                top-1/2 
                -translate-y-1/2 
                right-3 
                z-10 
                next-button
            ">
                {{  partial:icons/arrow
                    svg_width="48"
                    svg_height="48"
                    svg_class="rotate-180 
                        w-8 md:w-[48px]
                        h-auto" 
                    circle_class="fill-white"
                    path_class="stroke-black stroke-[2.2]"
                }}
            </button>
        </div>
    {{ /if }}

</div>
<!-- End: /components/_carousel.antlers.html -->
