{{#
    @name Related Entry
    @desc Card with a link to a collection entry
    @set page.article.related_entry
#}}

<!-- /components/_related_entry.antlers.html -->

{{ entrycard_title = '' }}
{{ entrycard_image = ''  }}
{{ entrycard_url = ''  }}

{{ if entrycard_id }}
    {{ entryid = entrycard_id }}
{{ else}}
    {{ entryid = entry.id }}
{{ endif }}

{{ get_content from="{{entryid}}" }}

    {{entrycard_title = title }}
    {{entrycard_image = image }}
    {{entrycard_url = url }}


{{ /get_content }}



{{ if entrycard_title != '' 
    && entrycard_image  != '' 
}}

    {{ entrycard_class = "hover:bg-white"   }}

    <a href="{{entrycard_url}}">
    <div  class=" my-0 grid gap-0 md:grid-cols-12 transition-all {{ entrycard_class }} " 
        >
        <div class="
            max-w-none
            md:col-span-6 md:pt-4 md:pr-4 md:pb-4 md:pl-16
        ">
            {{ partial:typography/h3 
                :content="entrycard_title" 
                class="md:text-5xl md:leading-5xl"
            }}
        </div>

        <div class="
            max-w-none
            md:col-span-6 md:row-span-2 md:pt-0 md:pr-0 md:pb-0 md:pl-0
        ">
            {{  partial:components/image
                :image="image" 
                figure_class="size-md"
                ratio="16/9" 
                sizes=" 90vw, (min-width: 768px) 50vw" 
            }}
        </div>
    </div>
    </a>

{{ endif }}
<!-- End: /components/_related_entry.antlers.html -->
