{{#
    @name Projects show
    @desc The Projects show template.
#}}

<!-- /projects/show.antlers.html -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ permalink }}"
        },
        "headline": "{{ title }}",
        "image": "{{ config:app:url }}{{ image }}",
        "datePublished": "{{ date format="Y-m-d\TH:i:s" }}",
        "author": {
            "@type": "Organization",
            "name": "{{ config:app:name }}",
            "url": "{{ config:app:url }}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ config:app:name }}"{{ if seo:organization_logo }},
            "logo": {
                "@type": "ImageObject",
                "url": "{{ config:app:url }}{{ glide:seo:organization_logo width='336' height='336' fit='contain' }}"
            }{{ /if }}
        }
    }
</script>

{{ project_sector   =  '' }}
{{ project_location =  '' }}

{{ if sectors }}
    {{ sectors }}
        {{ project_sector =  title }}
    {{ /sectors }}
{{ endif }}

{{ if locations }}
    {{ locations }}
        {{ project_location =  title }}
    {{ /locations }}
{{ endif }}

{{ if location_area }}
    {{ project_location = location_area+ ', ' + project_location }}
{{ endif }}

{{# color-item-lightblue color-item-blue color-item-darkblue color-item-pink color-item-yellow color-item-orange color-item-orange color-item-green #}}

<main id="content"
    class="outer-grid"
    x-data
>

    <header class="fluid-container grid md:grid-cols-12 gap-4 w-full p-0">
        {{  partial:components/image
            :image="image"
            figure_class="w-full max-w-none md:col-span-12 p-0 h-screen "
            ratio="3/2"
        }}
    </header>

    <section id="metaInfo"
        class="fluid-container pt-8 pb-8 grid gap-4 md:grid-cols-12"
    >

        <div id="location"
            class="
            max-w-none
            md:col-span-3 grid items-end
        ">
            {{ partial:typography/h3
                content="LOCATION"
            }}
            {{ partial:typography/p
                :content="project_location"
                class="block h5 mt-1"
            }}
        </div>

        <div id="sector"
            class="
            max-w-none
            md:col-span-3 grid items-end
        ">
            {{ partial:typography/h3
                content="SECTOR"
            }}
            {{ partial:typography/p
                :content="project_sector"
                class="block h5 mt-1"
            }}
        </div>

        <div id="client"
            class="
            max-w-none
            md:col-span-3 grid items-end
        ">
            {{ partial:typography/h3
                content="CLIENT"
            }}
            {{ partial:typography/p
                :content="client"
                class="block h5 mt-1"
            }}
        </div>

        <div id="date"
            class="
            max-w-none
            md:col-span-3 grid items-end
        ">
            {{ partial:typography/h3
                content="DATE"
            }}
            {{ partial:typography/p
                :content="project_date"
                class="block h5 mt-1"
            }}
        </div>
    </section>

    <section class="fluid-container pt-8 grid gap-4 md:grid-cols-12">

        <div class="
            max-w-none
            md:col-span-9
        ">
            {{ partial:typography/h1
                :content="title"
                class="text-left"
            }}
        </div>
    </section>


    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}

    {{ if bottom_entry }}
        <section id=""
            x-data="{ shown_related: false, load_section: true }"
            x-intersect.once="shown_related = true;"
            class="fluid-container pt-8 pb-8 grid gap-4 md:grid-cols-12 md:gap-0 md:pt-0 md:pb-0 md:pl-0 md:pr-0 text-black bg-white opacity-0 animate-appearsin"
            :class="shown_related && load_section ? 'animate-appearsin' : ''"
        >
            <div class="
                max-w-none
                md:col-span-12
            ">
                {{ partial:components/related_entry
                    :entrycard_id="bottom_entry.id"
                }}
            </div>
        </section>
    {{#  else }}
        {{# collection:previous
            in="projects"
            sort="date:asc"
            limit="1"
            as="items"
        }}
            {{# unless no_results }}
            <section id=""
                x-data="{ shown_related: false, load_section: true }"
                x-intersect.once="shown_related = true;"
                class="fluid-container pt-8 pb-8 grid gap-4 md:grid-cols-12 md:gap-0 md:pt-0 md:pb-0 md:pl-0 md:pr-0 text-black bg-white opacity-0 animate-appearsin"
                :class="shown_related && load_section ? 'animate-appearsin' : ''"
            >
                {{# items }}

                    <div class="
                        max-w-none
                        md:col-span-12
                    ">
                        {{# partial:components/related_entry
                            :entrycard_id="id"
                        }}
                    </div>
                {{# /items }}
            </section>
            {{# /unless }}
        {{# /collection:previous  #}}
    {{ endif }}
</main>
<!-- /projects/show.antlers.html -->
