{{#
    @name Social Media
    @desc The social media menu.
#}}

<!-- /navigation/_social_media.antlers.html -->

{{ if social_media:social_media }}
    <div class="social_media leading-tight group">
        {{ media_items = social_media:social_media | length }}
        {{ social_media:social_media }}
            <a 
                class=" text-white 
                    focus:outline-none  
                    {{ media_items > 1 
                        ? 'group-hover:text-primary hover:!text-white ' 
                        : 'hover:text-primary '
                    }}
                " 
                href="{{ prefix }}{{ handle }}" 
                rel="noopener"
                aria-label="{{ config:app:name }} {{ trans:strings.on }} {{ type | title }}" target="_blank"
            >{{  type | ucfirst }}</a><br/>
        {{ /social_media:social_media }}
    </div>
{{ /if }}

<!-- End: /navigation/_social_media.antlers.html -->
