{{#
	@name Section
	@desc A column repeater block to be included in the page builder
    @set page.page_builder.section
#}}

<!-- /page_builder/_section.antlers.html -->

{{ section_style =  '' }}
{{ section_class =  'fluid-container
                grid-cols-6 md:grid-cols-12' }}


{{ hide_viewports }}
    {{ if ( value == 'mobile' ) }}
        {{ section_class .=  ' hidden' }}
    {{ else }}
        {{ section_class .=  ' grid' }}
    {{ /if }}

    {{ if ( value == 'tablet' ) }}
        {{ section_class .=  ' md:hidden' }}
    {{ else }}
        {{ section_class .=  ' md:grid' }}
    {{ /if }}

    {{ if ( value == 'desktop' ) }}
        {{ section_class .=  ' xl:hidden' }}
    {{ else }}
        {{ section_class .=  ' xl:grid' }}
    {{ /if }}
{{ /hide_viewports }}

{{ if ! hide_viewports }}
    {{ section_class .=  ' grid' }}
{{ /if }}

{{# Mentioning the exact class names in comments, its styles will be compiled. #}}
{{# gap-0 gap-0.5 gap-1 gap-1.5 gap-2 gap-2.5 gap-3 gap-3.5 gap-4 gap-5 gap-6 gap-7 gap-8 gap-9 gap-10 gap-11 gap-12 #}}
{{ if section_gap }}
    {{ section_class .=  ' md:gap-'+section_gap }}
{{ else }}
    {{ section_class .=  ' gap-0 md:gap-[32px]' }}
{{ /if }}


{{# py-1 py-2 py-3 py-4 py-5 py-6 py-7 py-8 py-9 py-10 py-11 py-12 py-13 py-14 py-15 py-16 #}}
{{ if vertical_padding }}
    {{ section_class .=  ' py-'+vertical_padding }}
{{ else }}
    {{ section_class .=  ' py-0' }}
    {{ if is_entry
        && (
            collection == 'news'
            || collection == 'projects'
            || collection == 'journal'
        )
    }}
        {{ section_class .=  ' md:py-15' }}
    {{ else }}
        {{ section_class .=  ' md:py-8' }}
    {{ /if }}
{{ /if }}




{{ if screen_minimum_height }}
    {{ section_class .=  ' min-h-screen' }}
{{ /if }}

{{ if remove_columns_gap}}
    {{ section_class .=  ' md:gap-0' }}
{{ /if }}


{{ if top_padding != -1 }}
    {{ section_class .=  ' md:pt-' + (top_padding*4) }}
{{ /if }}

{{ if bottom_padding != -1 }}
    {{ section_class .= ' md:pb-' + (bottom_padding*4) }}
{{ /if }}

{{ if left_padding != -1 }}
    {{ section_class .=  ' md:pl-' + (left_padding*4) }}
{{ /if }}

{{ if right_padding != -1 }}
    {{ section_class .= ' md:pr-' + (right_padding*4) }}
{{ /if }}


{{ if top_border }}
    {{ section_class .=  ' border-black border-t' }}
{{ /if }}

{{ taxonomy_colour =  '' }}
{{ if sectors }}
    {{ sectors }}
        {{ taxonomy_colour =  colour }}
    {{ /sectors }}
{{ endif }}


{{# text-black text-white text-lightblue text-blue text-darkblue text-pink text-yellow text-orange text-green text-grey #}}

{{ text_colour_set =  null }}
{{ if text_colour }}
    {{ text_colour_set =  text_colour }}
{{ /if }}
{{ if text_colour_type == 'taxonomy' &&  taxonomy_colour }}
    {{ text_colour_set =  taxonomy_colour }}
{{ endif }}
{{ if text_colour_type == 'default' }}
    {{ text_colour_set =  null  }}
{{ endif }}

{{ if text_colour_set }}
    {{ section_class .=  ' text-' + text_colour_set }}
{{ /if }}


{{# bg-black bg-white bg-lightblue bg-blue bg-darkblue bg-pink bg-yellow bg-orange bg-green bg-grey #}}
{{ background_colour_set =  null }}
{{ if background_colour }}
    {{ background_colour_set =  background_colour }}
{{ /if }}
{{ if background_colour_type == 'taxonomy' &&  taxonomy_colour }}
    {{ background_colour_set =  taxonomy_colour }}
{{ endif }}
{{ if background_colour_type == 'transparent' }}
    {{ background_colour_set =  null }}
{{ endif }}

{{ if background_colour_set }}
    {{ section_class .=  ' bg-' + background_colour_set }}
{{ /if }}



{{ if bg_image }}
    {{ section_class  .=  ' bg-local bg-no-repeat bg-cover bg-center' }}
    {{ section_style   =  ' style="background-image: url('+{{bg_image}}+')"' }}
{{ /if }}


{{ if display_scrolldown_button || section_over_floating_logo }}
    {{ section_class  .=  ' relative' }}
{{ /if }}

{{ if section_over_floating_logo }}
    {{ section_class  .=  ' z-[4]' }}
{{ /if }}

{{# dump #}}

{{ xid =  id }}
{{ if slug  }}
    {{ slug =  slug | slugify | replace('-', '') }}
    {{ xid =  slug }}
{{ /if }}
{{ if section_slug  }}
    {{ slug =  section_slug | slugify | replace('-', '') }}
    {{ xid =  slug }}
{{ /if }}


{{ if section_link }}
<a href="{{ section_link }}" class="block section-wrapper">
{{ else}}
<div class="section-wrapper">
{{ /if }}

    {{# If this section contains a carousel or an accordion, the animation will cause the corresponding navigation arrows to be below the floating menu items, and then they will not work. #}}
    {{# Therefore, we will not animate the appearance of the section if it contains a carousel. #}}
    {{#
        $el is a AlpineJS magic property that can be used to retrieve the current DOM node.
        querySelector() returns the first Element within the document that matches the specified selector, or group of selectors. If no matches are found, null is returned.
        Therefore  $el.querySelector('.carousel') returns null if the section does not contain a carousel.
    #}}
    {{# This is a temporary solution. #}}
<section id="{{ slug }}"
        x-data="{
            shown_{{ xid }}: false,
            load_section: {{ loading_effect ? 'true' : 'false' }},
            hasCarousel: false,
            hasAccordion: false,
            expanded: false
        }"
        x-init="hasCarousel = $el.querySelector('.carousel') !== null;
                hasAccordion = $el.querySelector('.accordion') !== null;"
        x-intersect.once="shown_{{ xid }} = true;"
        {{section_style}}
        class="{{section_class}}"
        :class="shown_{{ xid }} && load_section && !hasCarousel && !hasAccordion ? ' animate-appearsin opacity-0 ' : '';"
>

    {{ if section_collapsable }}

        {{ html_colour =  'white' }}
        {{ if collapse_colour }}
            {{ html_colour =  collapse_colour }}
        {{ /if }}

        {{#
            stroke-black stroke-white stroke-lightblue stroke-blue stroke-darkblue stroke-pink stroke-yellow stroke-orange stroke-green stroke-grey
            fill-black fill-white fill-lightblue fill-blue fill-darkblue fill-pink fill-yellow fill-orange fill-green fill-grey
            group-hover:stroke-black group-hover:stroke-white group-hover:stroke-lightblue group-hover:stroke-blue group-hover:stroke-darkblue group-hover:stroke-pink group-hover:stroke-yellow group-hover:stroke-orange group-hover:stroke-green group-hover:stroke-grey
            group-hover:fill-black group-hover:fill-white group-hover:fill-lightblue group-hover:fill-blue group-hover:fill-darkblue group-hover:fill-pink group-hover:fill-yellow group-hover:fill-orange group-hover:fill-green group-hover:fill-grey
         #}}
        {{stroke_class = 'stroke-' + html_colour }}
        {{html_class   = class + ' cursor-pointer group text-' + html_colour }}
        {{svg_class    = 'inline -rotate-45 transition-all rounded-full -mt-[5px]'}}
        {{path_class   = 'fill-' + html_colour }}

        {{ unless collapse_remove_hover_effect }}
            {{svg_class    .= ' group-hover:bg-'+html_colour }}
            {{stroke_class .= ' group-hover:stroke-'+background_colour_set }}
        {{ /unless }}

        {{ svg_size = 'w-[20px]'}}

        {{ if collapse_text_size }}

            {{ html_class .=  " " +collapse_text_size }}

            {{ if collapse_text_size == 'h1'
                || collapse_text_size == 'h2'
            }}
                {{ svg_size = 'w-[30px] md:w-[60px]' }}
            {{ /if }}

            {{ if collapse_text_size == 'h3' }}
                {{ svg_size = 'w-[30px] md:w-[40px]' }}
                {{ html_class .=  " md:text-5xl md:leading-5xl"  }}
            {{ /if }}

            {{ if collapse_text_size == 'h4' }}
                {{ svg_size = 'w-[25px]' }}
            {{ /if }}

            {{ if collapse_text_size == 'h5' }}
                {{ svg_size = 'w-[15px]' }}
            {{ /if }}

        {{ /if }}

        {{ svg_class .= ' ' + svg_size; }}

        <div class=" max-w-none
            pt-4 md:pt-0
            md:col-span-12
            {{html_class}}"
            @click="expanded = !expanded;"
        >

            <span class="whitespace-nowrap">
                {{ section_collapsable_title }}

                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 62.01 62.01"
                    class="{{ svg_class }} "
                    x-bind:class="{'rotate-[135deg]' : !expanded  }"
                >
                    <polyline class="fill-none stroke-[2.2px] transition-all {{stroke_class}}"
                        points="20.66 21.67 40.25 21.67 40.25 41.26"
                    />
                    <line class="fill-none stroke-[2.2px] transition-all {{stroke_class}}"
                        x1="20.66"
                        y1="41.25"
                        x2="40.24"
                        y2="21.67"
                    />
                    <path class="transition-all {{path_class}}"
                        d="M31,2.2A28.8,28.8,0,1,1,2.2,31,28.83,28.83,0,0,1,31,2.2M31,0A31,31,0,1,0,62,31,31,31,0,0,0,31,0Z"
                    />
                </svg>
            </span>
        </div>

        <div
            x-show="expanded"
            x-collapse
            class="col-span-12
                grid gap-4
                md:grid-cols-12
            "
        >
        <div
            class="col-span-12
                md:h-[30px]
            "
        ></div>

    {{ /if }}

    {{ if bg_video_url}}
        {{#  partial:components/video
            :video_url="bg_video_url"
            video_autoplay="true"
            wrapper_class="absolute
                            w-full
                            h-full
                            top-0 left-0
                            z-[-1]
                            overflow-hidden"
            container_class="pb-[calc((9/16)*100%)] relative h-full"
            frame_class="absolute
                            top-1/2 left-1/2
                            translate-y-[-50%] translate-x-[-50%]
                            min-w-screen min-h-screen
                            w-[10000px] h-full
                            "
        #}}
    {{ /if }}



    {{ columns }}

        {{ column_class =  '' }}
        {{# column_class .=  ' border border-black'  #}}


        {{ column_hide_viewports }}
            {{ if ( value == 'mobile' ) }}
                {{ column_class .=  ' mobile-only:hidden' }}
            {{ /if }}

            {{ if ( value == 'tablet' ) }}
                {{ column_class .=  ' tablet-only:hidden' }}
            {{ /if }}

            {{ if ( value == 'desktop' ) }}
                {{ column_class .=  ' xl:hidden' }}
            {{ /if }}
        {{ /column_hide_viewports }}

        {{# xl:col-span-1 xl:col-span-2 xl:col-span-3 xl:col-span-4 xl:col-span-5 xl:col-span-6 xl:col-span-7 xl:col-span-8 xl:col-span-9 xl:col-span-10 xl:col-span-11 xl:col-span-12  #}}
        {{ column_span =  '' }}
        {{ if size }}
            {{ column_span =  ' md:col-span-' + size }}
            {{ if tablet_size }}
                {{ column_span =  ' md:col-span-' + tablet_size + ' xl:col-span-' + size }}
            {{ /if }}
        {{ /if }}

        {{ mobile_col_span = ' col-span-6' }}
        {{ if size_mobile }}
            {{ mobile_col_span = ' col-span-' + size_mobile }}
        {{ /if }}


        {{# xl:col-start-1 xl:col-start-2 xl:col-start-3 xl:col-start-4 xl:col-start-5 xl:col-start-6 xl:col-start-7 xl:col-start-8 xl:col-start-9 xl:col-start-10 xl:col-start-11 xl:col-start-12 xl:col-start-13  #}}
        {{ if set_horizontal_position }}
            {{ mobile_col_start =  '' }}
            {{ col_start        =  '' }}
            {{ if mobile_horizontal_position > 0 }}
                {{ mobile_col_start =  ' col-start-'+ mobile_horizontal_position }}
                {{ mobile_col_span = '' }}
            {{ /if }}

            {{ if horizontal_position > 0 }}
                {{ col_start =  ' md:col-start-'+ horizontal_position +'
                                xl:col-start-'+ horizontal_position
                }}
                {{ if tablet_horizontal_position > 0 }}
                    {{ col_start =  ' md:col-start-'+ tablet_horizontal_position +'
                                    xl:col-start-'+ horizontal_position
                    }}
                {{ /if }}
            {{ /if }}

            {{ column_class .=  mobile_col_start + col_start }}

        {{ /if }}



        {{ if set_span_rows && span_rows > 0 }}
            {{ column_class .=  ' md:row-span-' + span_rows }}
        {{ /if }}


        {{ if vertical_alignment == 'middle' }}
            {{ column_class .=  ' grid items-center' }}
        {{ /if }}
        {{ if vertical_alignment == 'bottom' }}
            {{ column_class .= ' grid items-end' }}
        {{ /if }}

        {{# mbtb-only:pt-1 mbtb-only:pt-2 mbtb-only:pt-3 mbtb-only:pt-4 mbtb-only:pt-5 mbtb-only:pt-6 mbtb-only:pt-7 mbtb-only:pt-8 mbtb-only:pt-9 mbtb-only:pt-10  #}}
        {{ if mobile_top_padding != -1 }}
            {{ column_class .=  ' mbtb-only:pt-' + mobile_top_padding }}
        {{ /if }}

        {{# mbtb-only:pb-1 mbtb-only:pb-2 mbtb-only:pb-3 mbtb-only:pb-4 mbtb-only:pb-5 mbtb-only:pb-6 mbtb-only:pb-7 mbtb-only:pb-8 mbtb-only:pb-9 mbtb-only:pb-10  #}}
        {{ if mobile_bottom_padding != -1 }}
            {{ column_class .= ' mbtb-only:pb-' + mobile_bottom_padding }}
        {{ /if }}

        {{# mbtb-only:pl-1 mbtb-only:pl-2 mbtb-only:pl-3 mbtb-only:pl-4 mbtb-only:pl-5 mbtb-only:pl-6 mbtb-only:pl-7 mbtb-only:pl-8 mbtb-only:pl-9 mbtb-only:pl-10  #}}
        {{ if mobile_left_padding != -1 }}
            {{ column_class .=  ' mbtb-only:pl-' + mobile_left_padding }}
        {{ /if }}

        {{# mbtb-only:pr-1 mbtb-only:pr-2 mbtb-only:pr-3 mbtb-only:pr-4 mbtb-only:pr-5 mbtb-only:pr-6 mbtb-only:pr-7 mbtb-only:pr-8 mbtb-only:pr-9 mbtb-only:pr-10  #}}
        {{ if mobile_right_padding != -1 }}
            {{ column_class .= ' mbtb-only:pr-' + mobile_right_padding }}
        {{ /if }}


        {{ if top_padding != -1 }}
            {{ column_class .=  ' md:pt-' + (top_padding*4) }}
        {{ /if }}

        {{ if right_padding != -1 }}
            {{ column_class .=  ' md:pr-' + (right_padding*4) }}
        {{ /if }}

        {{ if bottom_padding != -1 }}
            {{ column_class .=  ' md:pb-' + (bottom_padding*4) }}
        {{ /if }}

        {{ if left_padding != -1 }}
            {{ column_class .=  ' md:pl-' + (left_padding*4) }}
        {{ /if }}


        {{ column_class .=  ' ' + mobile_col_span + column_span }}




            {{ partial:typography/article
                as="div"
                :class="column_class"

            }}
                {{ column_article }}
                    {{ partial src="components/{type}" }}
                {{ /column_article }}
            {{ /partial:typography/article }}

    {{ /columns }}

    {{ if display_scrolldown_button }}
        {{#  partial:navigation/scrolldown_button #}}
        {{ display_scrolldown_button = false }}
    {{ /if }}

    {{ if section_collapsable }}
        </div>
    {{ /if }}



</section>

{{ if section_link }}
</a>
{{ else}}
</div>
{{ /if }}

<!-- End: /page_builder/_section.antlers.html -->
