{{#
    @name Arrow button
    @desc An arrow button that can be used for navigation links.
#}}

<!-- /icons/_arrow.antlers.html -->

<svg xmlns="http://www.w3.org/2000/svg" 
    width="{{ svg_width }}" 
    height="{{ svg_height }}" 
    class="{{ svg_class }}" 
    viewBox="0 0 62 62" 
    fill="none"
>
    <circle class="{{circle_class}}" 
        cx="31" 
        cy="31" 
        r="31"  
    />
    <path class="{{path_class}}" 
        d="M31 45.6136L16.3865 31M16.3865 31L31 16.3865M16.3865 31L45.6135 31" 
    />
</svg>
<!-- End /icons/_arrow.antlers.html -->