{{#
    @name Close icon
    @desc Close icon to be showed on hover titles.    
#}}

<!-- /icons/_close.antlers.html -->
<svg version="1.1" 
    xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    x="0px" 
    y="0px"
    viewBox="0 0 10.61 10.61" 
    style="enable-background:new 0 0 10.61 10.61;" 
    xml:space="preserve"
    class="inline-block
        absolute
        -ml-[15px] md:-ml-[20px]
        w-[15px] 
        h-[15px]
    "
>
    <g>
        <g>
            <path class="fill-primary opacity-0 group-hover:opacity-100 transition-opacity" 
                d="M5.3,0.6c2.59,0,4.7,2.11,4.7,4.7s-2.11,4.7-4.7,4.7S0.6,7.9,0.6,5.3S2.71,0.6,5.3,0.6 M5.3,0
                C2.37,0,0,2.37,0,5.3s2.37,5.3,5.3,5.3c2.93,0,5.3-2.37,5.3-5.3S8.23,0,5.3,0L5.3,0z"/>
        </g>
        <g>
            <polyline class="stroke-primary" 
                style="fill:none;stroke-width:0.6;stroke-miterlimit:10;" 
                points="7.73,7.73 5.3,5.3 7.73,2.88 		"/>
            <polyline class="stroke-primary"
                style="fill:none;stroke-width:0.6;stroke-miterlimit:10;" 
                points="2.88,7.73 5.3,5.3 2.88,2.88 		"/>
        </g>
    </g>
</svg>

<!-- End: /icons/_close.antlers.html -->
