{{#
    @name Filter Arrow
    @desc Fade in arrow icon to be showed on filter titles.
    @param class Add optional CSS classes
#}}

<!-- /icons/_filter_arrow.antlers.html -->

<svg version="1.1" 
    xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    x="0px" 
    y="0px"
    viewBox="0 0 10.61 10.61" 
    style="enable-background:new 0 0 10.61 10.61;" 
    xml:space="preserve"
    class="inline-block 
        opacity-0 group-hover:opacity-100 
        transition-all 
        w-[15px] h-[15px]
        {{ class }}
    "
>
    <polygon class="fill-primary" 
        points="2.07,5.3 5.3,8.53 8.53,5.3 8.1,4.87 5.61,7.37 5.61,2.07 5,2.07 5,7.37 2.5,4.87 "/>
    <g>
        <path class="fill-primary opacity-0" 
            d="M5.3,0.6c2.59,0,4.7,2.11,4.7,4.7s-2.11,4.7-4.7,4.7S0.6,7.9,0.6,5.3S2.71,0.6,5.3,0.6 M5.3,0
            C2.37,0,0,2.37,0,5.3s2.37,5.3,5.3,5.3s5.3-2.37,5.3-5.3S8.23,0,5.3,0L5.3,0z"/>
    </g>
</svg>
<!-- End: /icons/_filter_arrow.antlers.html -->
