{{#
    @name Hover Arrow
    @desc Fade in arrow icon to be showe on hover titles.
    @param class Add optional CSS classes
#}}

<!-- /icons/_hover_arrow.antlers.html -->

<svg version="1.1"
    xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    x="0px" 
    y="0px"
    width="13" 
    height="13" 
    viewBox="0 0 10.61 10.61" 
    style="enable-background:new 0 0 10.61 10.61;" 
    xml:space="preserve"
    class="inline-block 
        opacity-0 group-hover:opacity-100 
        transition-all 
        {{ class }}
    "
>
    <polygon class="fill-primary" 
        points="10.61,5.3 5.3,0 0,5.3 0.71,6.01 4.8,1.91 4.8,10.61 5.8,10.61 5.8,1.91 9.9,6.01 "
    />
</svg>
<!-- End: /icons/_hover_arrow.antlers.html -->
