{{#
    @name Toggler button
    @desc The button to toggle the navigation.
#}}

<!-- /icons/_toggler.antlers.html -->


<svg xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    x="0px" 
    y="0px"
    width="{{ svg_size }}" 
    height="{{ svg_size }}" 
	viewBox="0 0 59.9 59.9" 
    style="enable-background:new 0 0 59.9 59.9;" 
    xml:space="preserve"
    class="transition-all"
>
    <path class="{{fill_class}}"  
        d="M-0.1,30c0,8.3,3.4,15.7,8.8,21.2S21.6,60,29.9,60c16.6,0,30-13.4,30-30S46.5,0,29.9,0C13.3,0-0.1,13.3-0.1,30z
    M18.3,13.8l11.6,11.6l11.6-11.6l4.6,4.6L34.6,30l11.6,11.6l-4.6,4.6L29.9,34.6L18.3,46.1l-4.6-4.6L25.3,30L13.8,18.3L18.3,13.8z"/>
</svg>



<!-- End /icons/_toggler.antlers.html -->